<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.google.com/uc?id=1e2fDVIhsGfu5NdvLtC9k8GUxNAqgNYSz</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://drive.google.com/file/d/1HuyTx8X1cJ9cXhzyifjTDCkyC_i8y0xE/view?usp=sharing</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://drive.google.com/file/d/17AVrfY4ADh5XADTbrHjwmCVX6qbXgrqQ/view?usp=sharing</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>wayne.apps.faceCamera</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>ProjectJYS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
